.movieCardWrapper {
    display: flex;
    flex-direction: column;
    transition: transform 0.7s ease;
    color: white;
}

.movieCardWrapper:hover {
    transform: scale(0.9);
    cursor: pointer;
    color: red;
}

.movieCard {
    position: relative;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 160%;
    border-radius: 30px;
    margin-bottom: 1rem;
}

.movieCardTitle {
    text-align: center;
}
