.headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: lightseagreen;
    margin-bottom: 20px;
}

.headerContainer a {
    text-decoration: none;
    font-weight: bold;
    margin: 10px;
    color: white;
    font-size: 25px;
}

.headerContainer a[class='active'] {
    color: darkslateblue;
}